*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/plonetraining
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
docs/doctrees/
docs/html/
docs/make.bat
docs/Makefile

